.section {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 45px;
}

.head-section {
  background: #0B1E3C;
}
.head-heading {
  color: aliceblue;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 41px;
  padding: 0 240px;
}
.small-text {
  color: #9eaeaf;
  font-weight: 100;
  line-height: 14px;
}
.head-text {
  display: inline-block;
  font-size: 13px;
  margin: 0;
}
.head-text-green {
  color: #5b9c3c;
}

.foot-section {
  background: #EDFBFE;
  color: #023D63;
}
.foot-heading {
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
}
.foot-text {
  font-size: 12px;
  padding: 0 110px 30px 110px;
  font-weight: 100;
  color: #9eaeaf
}
/* 
head 

                    color: #c4c4c4;
font-size: 13px;
                    font-weight: 100;
display: inline-block;
margin: 0;

green
          color: #5b9c3c;
  font-size: 13px;
  font-weight: 100;
  display: inline-block;
  margin: 0;



foot

font-size: 12px;
padding: 0 110px 30px 110px;
                        font-weight: 100;
                        color: #9eaeaf

desc 


                          color: #9eaeaf;
font-size: 11px;
                        font-weight: 100;
                        line-height: 14px;
padding: 0; */