.head-section {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  background: #0B1E3C;
  padding: 45px;
}
.head-heading {
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 0 240px;
}
.head-text {
  color: #c4c4c4;
  font-size: 14px;
  font-weight: 100;
  display: inline-block;
  margin: 0;
}
.head-text-green {
  color: green;
  font-size: 14px;
  font-weight: 100;
  display: inline-block;
  margin: 0;
}
.pin-box {

}